@import "_normalize";
@import "_variables";

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext');


html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: radial-gradient($accent-4, $accent-3);
  font-family: 'Lato', sans-serif;
}

.hero {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main {
  height: 100%;
  max-width: 40rem;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.header {
  text-align: center;
  padding: 2rem 0;

  &__title {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1rem;
    text-transform: uppercase;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  padding: 1rem;

  .form__label-title,
  .form__label-name,
  .form__label-name {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem;
  }

  .form__input-name,
  .form__select-direction,
  .form__select-title {
    margin: .5rem;
    border: 1px solid #aaa;
  }

  .form__select-title:focus,
  .form__input-name:focus,
  .form__select-direction:focus {
    background: $background;
    border-color: green;
    outline: none;
  }

  .form__label-direction {
    color: #fff;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.button {
  display: block;
  padding: 0 1rem;
  text-align: end;
  width: 100%;

  &__submit {
    background: #eee;
    border: none;
    border-radius: .1rem;
    cursor: pointer;
    font-family: inherit;
    margin-right: .5rem;
    margin-bottom: 1.1rem;
    padding: .5rem;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    width: calc((100% / 2) - 2rem);

    &:hover {
      background: rgb(13, 81, 90);
      color: #eee;
    }
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  list-style-type: none;
  padding: 1rem;

  @media (max-width: $mobile) {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }

  .wrapper {
    background: #363636;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    height: 150px;
    width: 100%;

    &__header {
      background: lightgrey;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      height: 25%;
      width: 100%;
      display: block;

    }
  }
}

.project {
  &__name {
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
    padding: .5rem 0;
  }

  &__wrapper {
    background: rgb(13, 81, 90);
    padding: 0 1rem 1rem 1rem;
    border-radius: .2rem;
  }
}

.project-footer {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;

  &__logo {}

  &__description {}

  &__link {
    color: black;
    text-decoration: none;
  }
}

.footer {
  background: coral;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 100%;

  &__text {
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
  }
}

.social {
  &__link {
    padding: 0 1rem;
  }
}