@import "_normalize";
@import "_variables";

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext');


html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: radial-gradient($accent-4, $accent-3);
  font-family: 'Lato', sans-serif;
}

.hero {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main {
  height: 100%;
  max-width: 640px;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.header {
  text-align: center;
  padding: 2rem 0;

  &__title {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1rem;
    text-transform: uppercase;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  padding: 1rem;

  .form__label-title,
  .form__label-name,
  .form__label-name {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem;
  }

  .form__input-name,
  .form__select-direction,
  .form__select-title {
    margin: .5rem;
    border: 1px solid #aaa;
  }

  .form__select-title:focus,
  .form__input-name:focus,
  .form__select-direction:focus {
    background: $background;
    border-color: green;
    outline: none;
  }

  .form__label-direction {
    color: #fff;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.list {
  display: block;
  list-style-type: none;
  padding: 2rem 0;
  margin: 0;
}

.list__item {
  background: rgb(13, 81, 90);
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
}

.list__link {
  text-decoration: none;
  color: #eee;
  transition: color .3s ease-in-out;
  text-transform: uppercase;
}

.list__link:hover {
  color: coral;
}

@supports(display: grid) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.footer {
  background: coral;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 100%;

  &__text {
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
  }
}

.social {
  &__link {
    padding: 0 1rem;
  }
}